[submodule "third_party/RealtimeSTT"]
	path = third_party/RealtimeSTT
	url = https://github.com/RadTuna/RealtimeSTT-SenseVoice-Minimal.git
	branch = master
[submodule "third_party/OuteTTS"]
	path = third_party/OuteTTS
	url = https://github.com/RadTuna/OuteTTS.git
