
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

funasr-onnx
langchain
langchain-community
langchain-openai
langgraph
librosa
llama_cpp_python
loguru
numpy
onnx
onnxruntime
openai
PyAudio
sounddevice

-e ./third_party/RealtimeSTT
-e ./third_party/CosyVoice
